*
{
    box-sizing: border-box;
    margin: 0;
}
#header
{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 35px;
    background-color: #1dc94b;
    text-shadow: 3px 3px 5px #08c1ff;
}
#menu
{
    width: 15%;
    background-color: #00b330;
    float: left;
    min-height: 775px;
}
#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
}
#menu a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    padding: 8px;
    color: black;
}

#content
{
    width: 85%;
    min-height: 725px;
    float: left;
    padding: 20px;
    text-align: center;
    background-color: #4ee476;
}
#footer
{
    width: 85%;
    height: 50px;
    padding: 7px;
    font-size: 18px;
    float: left;
    text-align: center;
    background-color: #1dc94b;
}

.active
{
    background-color: #7fff7a;
}